@tailwind base;
@tailwind components;
@tailwind utilities;


.banner-background{
    background-image: linear-gradient(to right, #000000af, #355e3b8f), url("./assets/Banner_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}
p{
    font-weight: 450;
    font-size: 16px;
}


.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
    background-color: transparent !important;
    color: rgb(32, 32, 32);
    border-bottom: 2px solid #355E3B;
    border-radius: 0;
    font-weight: 600;
    padding: 0;
}
